.header {
    width: auto;
    height: 730px;

    &__title {
        padding-top: 130px;
        margin: 0 auto;
        text-align: center;
        font-size: 60px;
        font-weight: 400;
        span {
            color: red;
        }
    }
    &__subtitle {
        padding-top: 10px;
        font-size: 28px;
        text-align: center;
    }
    &__line {
        height: 5px;
        width: 100%;
        background-color: #ffcc00;
    }
    &__descr {
        padding-top: 40px;
        font-size: 20px;
        text-align: center;
    }

}