.table {
    min-height: 300px;
    padding-top: 40px;
    font-size: 20px;
    margin-bottom: 40px;
    caption {
        font-size: 40px;
        margin-bottom: 30px;
    }
    table {
        margin: 0 auto;
        width: 700px;
    }
    td {
        text-align: center;
        font-size: 24px;
    }
}